.nav {
  width: 18%;
}

.ul {
  list-style: none;
  position: relative;
  left: 8px;
  top: -35px;
}

.li {
  margin-bottom: 15px;
}

.logo {
  position: relative;
  top: 15px;
  left: 15px;
}

@media screen and (max-width: 770px) {
  .ul {
    position: relative;
    top: -13.8em;
  }
}
@media screen and (max-width: 430px) {
  .nav {
    visibility: hidden;
    width: 0px;
  }
}
