.main{
    width: 20%;
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 20px;
}

.price{
    /* align-items: center; */
    padding-top: 10px;
}

.price p{
    background-color:rgba(246, 227, 229, 1);
    /* padding: 5px; */
    height: 25px;
    width: 60px;
    font-size: small;
    border-radius: 8px;
    padding-left: 10px;
    /* padding-top: 2px; */
    /* padding-right: 5px; */
}

.icons{
    font-size: 15px;
    margin-top: -20px;
}
.icons img{
    font-size: small;
    height: 18px;
    width: 18px;
}

.list{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: -20px;
    padding-left: 15px;
    padding-bottom: 10px;
}

/* media query */
@media screen and (max-width: 770px){
    .main{
        width: 40%;
    }

    
}
@media screen and (max-width: 1030px){
    .main{
        width: 26%;
    }

    
}
@media screen and (max-width: 430px){
    .main{
        width: 78%;
    }

    
}